// Mixins for use on Ski Homepage
// Author: John Flynn
// Table of Contents:
// I.   Clearfix
// II.  Breakpoints
// III. Helpers


//-----------------------------------------
// Trusty Clearfix
//-----------------------------------------
@mixin clearfix() {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  
  //-----------------------------------------
  // Breakpoints
  //-----------------------------------------
  @mixin breakpoint($breakpoint, $logic: false) {
    @if( $logic ) {
      @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
    } @else {
      @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
    }
  }
  
  //-----------------------------------------
  // Helpers
  //-----------------------------------------
  @mixin focus-outline() {
    outline: 0.3rem dotted HSL(var(--color-sweetmint));
  }
  
  @mixin strip-list() {
    list-style: none;
    padding-left: 0;
  }
  
  @mixin plain-link() {
    color: inherit;
    text-decoration: none;
  }
  
  @mixin visually-hidden() {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  @mixin visually-shown($position: inherit) {
    // sass-lint:disable no-important
    position: $position !important;
    overflow: auto;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
  }
  
  @mixin placeholder() {
    &::placeholder {
      @content;
    }
    &:placeholder {
      @content;
    }
    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
      @content;
    }
    /* Firefox 19+ */
    &::-moz-placeholder {
      @content;
    }
    /* IE 10+ */
    &:-ms-input-placeholder {
      @content;
    }
    /* Firefox 18- */
    &:-moz-placeholder {
      @content;
    }
  }
  
  @mixin line-height-crop($line-height) {
    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
  }
  
  
  