// Footer Nav Styles for Ski Homepage
// Author: John Flynn


//-----------------------------------------
// General
//-----------------------------------------
.footer-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    
    @include breakpoint(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include breakpoint(medium) {
      grid-template-columns: repeat(5, 1fr);
      gap: 3rem;
    }
  }
  
  .footer-nav__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: HSL(var(--color-evergreen));
    letter-spacing: 0.05rem;
  }
  
  .footer-nav__item {
    @include plain-link;
    display: block;
    font-size: 1.5rem;
    transition: color 0.2s 0.05s ease;
    &:hover {
      color: HSL(var(--color-evergreen));
    }
    
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }