// Newsletter CTA Callout Styles for Ski Homepage
// Author: John Flynn

//-----------------------------------------
// General
//-----------------------------------------
.newsletter-cta {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: white;
    
    @include breakpoint(medium) {
      flex-direction: row;
      align-items: center;
    }
  }
  
  //-----------------------------------------
  // Lede
  //-----------------------------------------
  .newsletter-cta__lede {
    margin-bottom: 1.5rem;
    flex-shrink: 1;
    
    @include breakpoint(medium) {
      margin-bottom: 0;
      flex-basis: 45%;
      margin-right: 2rem;
    }
  }
  
  .newsletter-cta__heading {
    font-size: 2.2rem;
    
    @include breakpoint(medium) {
      font-size: 2.8rem;
    }
  }
  
  .newsletter-cta__copy {
    color: #A8AAAB;
    font-size: 1.6rem;
    
    @include breakpoint(medium) {
      font-size: 1.8rem;
    }
  }
  
  //-----------------------------------------
  // Form
  //-----------------------------------------
  .newsletter-cta__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    
    @include breakpoint(small) {
      flex-direction: row;
      align-items: center;
    }
    
    .icon-input {
      max-width: 30rem;
      margin: 0 0 1.5rem 0;
      flex-shrink: 1;
      flex-grow: 1;
      
      @include breakpoint(small) {
        margin-right: 2rem;
        margin-bottom: 0;
      }
    }
  }
  
  .newsletter-cta__form-input {
    display: block;
    width: 100%;
  }
  
  .newsletter-cta__form-button {
    flex-shrink: 0;
  }
  
  