// Quote Styles for Ski Homepage
// Used in quote slider
// Author: John Flynn

//-----------------------------------------
// General
//-----------------------------------------
.quote {
    display: flex;
  }
  
  .quote__image {
    display: none;
    flex-basis: 7.5rem;
    flex-shrink: 0;
    align-self: flex-start;
    margin-right: 6rem;
    border-radius: 100%;
    overflow: hidden;
    
    @include breakpoint(small) {
      display: initial;
    }
  }
  
  .quote__copy {
    font-size: 1.6rem;
    color: #555D60;
    
    @include breakpoint(medium) {
      font-size: 2rem;
    }
  }
  
  .quote__attribution {
    margin-top: 3rem;
    font-size: 1.4rem;
    color: HSL(300, 0.6%, 66.9%);
  }