// Social List Styles for Ski Homepage
// Author: John Flynn

//-----------------------------------------
// General
//-----------------------------------------
.social-list {
    display: flex;
    justify-content: center;
    color: HSL(var(--color-mid-grey));
  }
  
  .social-list__item {
    @include plain-link;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0.1rem 1rem HSL(var(--color-black), 0.1);
    transition: box-shadow 0.2s 0.05s ease, transform 0.2s 0.05s ease;
    
    @include breakpoint(small) {
      width: 6rem;
      height: 6rem;
      font-size: 2.4rem;
    }
    
    @include breakpoint(medium) {
      width: 7.8rem;
      height: 7.8rem;
      font-size: 3rem;
    }
    
    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 0.1rem 1rem HSL(var(--color-black), 0.2);
    }
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }