//-----------------------------------------
// Sizing Settings
//-----------------------------------------

$breakpoints: (
  x-small: 20em, // 320px
  small: 34.365em, // ~768px
  medium: 50em, // ~1024px
  large: 63.75em, // ~1280px
) !default;