//-----------------------------------------
// Color Settings
//-----------------------------------------
:root {
    --color-black: 220, 4.5%, 13.1%;
    --color-grey: 0, 0%, 48.2%;
    --color-mid-grey: 0, 0%, 39.6%;
    --color-light-grey: 220, 3.4%, 82.9%;
    --color-sweetmint: 166.8, 59.2%, 48%;
    --color-evergreen: 166.3, 59.2%, 48%;
    --color-lime: 155.3, 100%, 62.4%;
    --color-ice: 210, 28.6%, 97.3%;
  }
  
  