//-----------------------------------------
// Typography Settings
//-----------------------------------------
:root {
    --base-line-height: 1.48;
    --font-size-body: 1.8rem;
  
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semi: 600;
    --font-weight-bold: 700;
  
    --font-family-body: 'Poppins', sans-serif;
    --font-weight-body: $font-weight-normal;
  
    --font-family-heading: 'Poppins', sans-serif;
    --font-weight-heading: $font-weight-bold; 
  }
  
  $heading-sizes: (
    h1: 4rem,
    h2: 3.2rem,
    h3: 2.8rem,
    h4: 2.4rem,
    h5: 2.2rem,
    h6: 2rem
  );
  
  