//-----------------------------------------
// Spacing Settings
//-----------------------------------------
:root {
    --container-width: 117rem;
    --gutter: 2rem;
    --gutter--small: calc(--gutter / 2);
    --page-section-padding: 6rem;
  }
  
  