// Input Element Styles for Ski Homepage
// Author: John Flynn

//-----------------------------------------
// Base Input Styles
//-----------------------------------------
%base-input {
    padding: 1.5rem 2rem;
    background-color: HSL(var(--color-ice));
    border: 0.1rem solid transparent;
    border-radius: 5rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    
    &:hover:not(:focus) {
      box-shadow: 0.1rem 0 0.5rem HSLA(var(--color-black), 0.2);
    }
    
    &:focus {
      border-color: HSL(var(--color-evergreen));
      outline: none;
    }
    
    @include placeholder {
      font-size: 1.4rem;
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
    }
  }
  
  //-----------------------------------------
  // General Text Input
  //-----------------------------------------
  .text-input {
    @extend %base-input;
  }
  
  //-----------------------------------------
  // Inset Icon Input
  //-----------------------------------------
  .icon-input {
    position: relative;
    
    &__icon {
      position: absolute;
      top: 0.9em;
      left: 0.6em;
      color: HSL(var(--color-mid-grey));
      font-size: 2rem;
    }
    
    input {
      padding-left: 5rem;
    }
  }